<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.newclan.cpanel"
        versionCode = "10" 
        version     = "1.0.0" >
    <name>myapp</name>

    <description>
        New Clan Control Panel
    </description>

    <author href="https://newclan.com.uy" email="contacto@newclan.com.uy">
        New Clan
    </author>

    <gap:plugin name="org.apache.cordova.network-information" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
    </feature>

    <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
</feature>

<allow-navigation href="http://*/*" />
<allow-intent href="https://*/*" />

    <access origin="*" subdomains="true" />

</widget>